* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  
  body {
    font-family: Arial, sans-serif;  
    background-color: #f4f4f4;      
    color: #333;                    
  }
  
  a {
    text-decoration: none;  
    color: inherit;         
  }
  
  ul {
    list-style-type: none;  
  }

  h1 {
    font-family: "Playwrite IT Moderna", serif;
    font-size: 3rem;
  }

  h1 span {
    color: #38598b;
    font-size: 4rem;
  }

  .dfull {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .df {
    display: flex;
  }
  
  .fdc {
    flex-direction: column;
  }
  
  .aic {
    align-items: center;
  }

  .jcc {
    justify-content: center;
  }
  
  